/*Debut font, c'est à dire couleur texte, police ect...*/

.main {
  width: 95%;
  margin: 0 auto;
}

body {
  width: fit-content;
  margin: 0;
}

.EnteteHeb a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #0065fc;
}

.EnteteAct a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
}

ul a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
}

.hebergements a,
.Populaire a {
  box-shadow: 1px 1px 12px rgba(194, 194, 194, 0.397);
}

.BordureActivite {
  box-shadow: 1px 1px 12px rgba(194, 194, 194, 0.397);
  overflow: hidden;
}

.NotePlus {
  color: #0065fc;
  font-size: 1em;
}

.NoteMoins {
  color: #f2f2f2;
  font-size: 1em;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  color: black;
}

.fa-chart-line {
  margin-right: 0.5em;
  font-size: 1.5em;
  color: black;
}

/*Fin font*/

/*********************************/

/*Debut enTete*/

.logo {
  width: 120px;
  height: auto;
}

.GridEntete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.GridEntete nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.EnteteHeb {
  padding: 2em;
  border-top: 0;
  border-top: 0.4em solid #0065fc;
  line-height: 2em;
}

.EnteteAct {
  padding: 2em;
  border-top: 0;
  border-top: 0.4em solid transparent;
  line-height: 2em;
}

.EnteteAct:hover {
  padding: 2em;
  border-top: 0;
  border-top: 0.4em solid #0065fc;
  line-height: 2em;
  transition-duration: 0.4s;
}

/*Fin enTete*/

/**************************/

/*Debut Recherche*/

.Recherche {
  display: flex;
  background-color: white;
  width: 430px;
  height: 50px;
  border: 2px solid #f2f2f2;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
}

.TexteRecherche {
  background-color: #0065fc;
  border: none;
  color: white;
  width: 10em;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.Recherche input {
  border: 0px;
  height: 100%;
  object-fit: cover;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 15px;
  width: 250px;
}

.fa-map-marker-alt {
  width: 50px;
  height: 100%;
  background-color: #f2f2f2;
  margin: 0;
  text-align: center;
  padding-top: 15px;
}

.IconeRecherche {
  display: none;
}

.BarreRecherche {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.BarreRecherche h1 {
  margin-bottom: 0;
}

/*Fin partie Recherche*/

/*****************************/

/*Debut partie filtre*/

.Filtres h3 {
  margin-right: 1em;
}

.Filtres {
  display: flex;
}

.filtre {
  background-color: #deebff;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.IconeFiltre {
  display: flex;
}

.IconeFiltre a {
  margin: 0 1em 0 0.5em;
}

.AligneFiltre {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 3px solid #f2f2f2;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.6s;
}

.AligneFiltre i {
  color: #0065fc;
}

.AligneFiltre:hover {
  transform: scale(1.2);
  transition-duration: 0.6s;
}

/*Debut partie filtre*/

/**************************************/

/*Debut partie infoBulle*/

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.i {
  display: inline-block;
}

.info {
  display: flex;
  align-items: center;
}

.infoBulle {
  border: 3px solid #f2f2f2;
  border-radius: 100%;
  min-height: 2rem;
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #0065fc;
}

.TextInfo {
  margin-left: 0.2em;
  font-family: "Raleway", sans-serif;
}

/*fin partie infoBulle*/

/************************************************/

/*Debut partie Articles Hergement + Partie Populaire*/

.accommodation {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
}

.accommodation article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.Colonne {
  display: flex;
  width: 100%;
}

article .hebergements {
  height: fit-content;
  width: 100%;
}

.hebergements .Description {
  border: 4px solid white;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  width: 30%;
  height: 14em;
  margin: 0.5em;
  transition-duration: 0.6s;
}

.hebergements .Description:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}

.hebergements h3 {
  margin-left: 0.9em;
  margin-top: 0.2em;
  margin-bottom: 0em;
}

.hebergements p {
  margin-left: 1em;
  margin-top: 0.2em;
  margin-bottom: 0em;
}

.etoile {
  margin: 3.2px 0px 10px 16px;
  font-size: 0.9em;
}

.etoilePop {
  font-size: 0.9em;
  line-height: 7em;
}

.Description {
  line-height: 22px;
}

.Description .Image {
  height: 8em;
  width: 100%;
  object-fit: cover;
}

.hebergements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.accommodation article {
  border-radius: 30px;
  background: #f2f2f2;
  margin: 15px;
  padding: 15px 25px;
}

aside {
  border-radius: 30px;
  background: #eee;
  margin: 1em;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.TitrePopulaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
}

.Populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

.Populaire .Description {
  display: flex;
  flex-direction: row;
  border: 4px solid white;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  width: 90%;
  height: 10em;
  margin: 0.8em;
  transition-duration: 0.6s;
}

.Populaire .Description:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}

.DescriptionPopulaire {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.Populaire .Image {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.Populaire p {
  margin: 0;
}

.Populaire h3 {
  margin: 0;
}

.more {
  margin-left: 15px;
  margin-bottom: 15px;
}

/*fin partie Hebergement à Marseille + Populaire*/

/***********************************************/

/*Debut activite à Marseille*/

.Activite {
  display: flex;
  justify-content: space-between;
}

.ConteneurActivite {
  display: flex;
}

.PetitImage {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.GrandImage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PetitImage a {
  height: 100%;
  margin: 10px;
  border-radius: 30px;
}

.PetitImage img {
  height: 10em;
  width: 100%;
}

.GrandImage img {
  height: 25em;
  width: 100%;
}

.GrandImage a {
  /* height: 100%; */
  margin: 10px;
  border-radius: 30px;
}

.ColonneImage {
  object-fit: cover;
  width: 300px;
}

.Activite h3 {
  margin-left: 1em;
}

/*fin partie Activite à Marseille*/

/*********************************/

/*Debut footer*/

footer {
  background: #eee;
  width: 100%;
}

.foot {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  text-align: left;
}

nav ul li {
  line-height: 30px;
}

/* Fin Footer*/
