@media screen and (max-width: 992px) {
  .accommodation {
    display: flex;
    flex-direction: column;
  }

  .accommodation article {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .accommodation article H2 {
    margin-left: 30px;
  }

  aside {
    margin: 20px 0 0 0;
  }

  .more {
    margin-top: 20px;
  }
}
